html {
  border: 90%;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2em;
  background-image: url('/astro-bot.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgb(12, 4, 126);
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

